main {
    padding-top: 60px;
    min-height: calc(100vh - 70px - 132px);
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
}

h1 {
    color: #38393B;
}

main table thead tr {
    background-color:#97CDCD;

}