div.text-center {
    margin-top: 50px;
    min-height: calc(100vh - 100px);
}

.table-cart{
    background-image: url(../img/fondo.jpg);
    border-radius: 1em;
    margin-bottom: 30px;
    padding: 1em;
}

.table-cart img{
    width: 50px;
}

@media (max-width:800px){
 
}
@media (max-width:1000px){
    
}